node_modules/
CLAUDE.md
.env
server
.env
Cronograma_NtsiFiyo.md
build/
imagenesAnimales/
imagenesPronombres/
imagenesFrutas/
imagenesRopa/
imagenesComida/
tercer avance/
cuarto avance/
imagenesFrutas.zip
*.md
*.pdf
*.docx
*.puml